CMakeUserPresets.json
build/
include/
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/.idea/misc.xml
/.idea/modules.xml
/.idea/tcn_schema.iml
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/.idea/vcs.xml
